.teste {
    background-color: #FEFEFE;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aquamarine;
    padding: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.draggable {
    cursor: move;
}

.dragging {
    opacity: .2 !important;
}


